[Unit]
Description=Service Test AssertFileIsExecutable
AssertFileIsExecutable=/run/test-assert-file-is-not-executable

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
