[Unit]
Description=Service Tet AssertFileNotEmpty
AssertFileNotEmpty=/run/assert-file-is-empty

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
