[Unit]
Description=Service Test AssertPathIsReadWrite
AssertPathIsReadWrite=/tmp/test-assert-path-is-read-write

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
