[Unit]
Description=Service Test AssertPathExists
AssertPathExists=/run/assert_path_exists

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
