[Unit]
Description=Service Test AssertDirectoryNotEmpty
AssertDirectoryNotEmpty=/run/assert_directory_not_empty

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
