[Unit]
Description=Service Test AssertArchitecture aarch64
AssertArchitecture=aarch64

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
