[Unit]
Description=Service Test ConditionVirtualization vmware
ConditionVirtualization=vmware

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
