[Unit]
Description=Service Test ConditionVirtualization lxc-libvirt
ConditionVirtualization=lxc-libvirt

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
