[Unit]
Description=Service Test ConditionFileIsExecutable
ConditionFileIsExecutable=/run/file-is-not-executable

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
