[Unit]
Description=Service Test ConditionVirtualization rkt
ConditionVirtualization=rkt

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
