[Unit]
Description=Service Test ConditionVirtualization lxc
ConditionVirtualization=lxc

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
