[Unit]
Description=Service Test ConditionPathIsSymbolicLink
ConditionPathIsSymbolicLink=/run/path_is_symbolic_link

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
