[Unit]
Description=Service Test RefuseManualStart RefuseManualStop
RefuseManualStart=true
RefuseManualStop=true

[Service]
ExecStart=/bin/false
Type=oneshot
RemainAfterExit=yes
